.input-container {
    position: fixed;
    bottom: 0;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.input-textarea {
    flex: 1;
    
    resize: none;
    outline: none;
    margin-left: 10px;
}

.input-textarea-container {
    width: 100%;
    display: flex;
}