.tweet-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.item-content {
  display: flex;
  padding: 10px;
}

.item-text {
    flex: 1;
    margin-left: 10px;
}

.item-actions {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
  justify-content: space-between;
}

.card-custom-hover-style {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
  transition: all 0.2s ease;
}

.card-custom-hover-style:hover {
    background-color: rgba(0, 0, 0, 0.03);
    
}