
.item-content {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  vertical-align: top;
  text-align: left;
}

.item-content-text {
    flex: 1;
    white-space: pre-line !important;
    margin-left: 10px;
}

.item-actions {
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
  justify-content: space-between;
}

.item-actions-heart-number {
    margin-left: -8px;
}

.item-card-hover-style {
    width: 100%;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    transition: all 0.2s ease;
}

.item-card-hover-style:hover {
    background-color: rgba(0, 0, 0, 0.03);
    
}