.input-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: fixed;
    top: 50px;
    width: calc(50% - 20px);
    z-index: 100;
    margin: 0 10px;
    background-color: #fff;
    padding: 10px;
}

.input-textarea {
    flex: 1;
    
    
    margin-left: 10px;
}

.input-char-count {
    color: #999;
    font-size: 12px;
    margin-top: 5px;
    text-align: right;
    position: absolute;
    right: 10px;
    bottom: 10px;
}



.input-textarea-container {
    width: 100%;
    display: flex;
}