.message-list {
    height: 100vh;
    overflow-y: auto;
    border: 1px solid #f0f0f0;
}

.message-list-empty {
    padding: 48px 0;
    text-align: center;
}
.message-list-end {
    padding: 32px 0;
    text-align: center;
    height: 100px;
}

.message-list-no-more {
    color: #86909C;
    border-top: 1px solid #e5e6eb;
}
